<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Hat &mdash; Bookmarks</title>
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="static/style.css" media="screen" /> -->
    <link rel="stylesheet/less" type="text/css" href="static/style.less" />
    <link rel="icon" href="static/images/favicon.png" />
    <script src="static/js/zepto.min.js"></script>
    <script src="static/js/base.js"></script>
    <script src="static/js/less-1.3.3.min.js"></script>
</head>
<body class="bookmarks">

    <div class="sidebar">
        <input type="text" placeholder="Search">
        <div class="section tags">
            <h1>Tags</h1>
            <ul>
                {% for tag in tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section settings">
            <h1>Settings</h1>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <div class="section">
            <span class="logo"></span>
        </div>
    </div>

    <div class="main">
        <input id="url" type="url" placeholder="http://">
        <div class="full">
            <input type="text" placeholder="A somewhat descriptive title">
            <input type="text" class="tags" placeholder="tags, separated, like, this">
        </div>
        <ul class="bookmarks">
            <li class="editable">
                <input type="text" class="h1 editing title" placeholder="A somewhat descriptive title">
                <input type="url" class="h2 editing url">
                <input type="text" class="h3 editing tags" placeholder="tags, separated, like, this">
                <div class="right">
                    <a href="#" class="delete">Delete</a>
                    <a href="#" class="save">Save</a>
                </div>
            </li>
            <li class="hidden template">
                <a href="#" class="edit"><img src="static/images/edit.png"></a><h1><a class="title" href="#">Cupcake ipsum dolor sit amet gingerbread bear claw cupcake ipsum dolor sit amet</a></h1>
                <h2><a href="#" class="link">http://cupcakeipsum.com/</a></h2>
                <h3>lorem ipsum, cupcakes</h3>
            </li>
          
            {% for link in links %}
            <li data-id="{{ link.id }}">
                <a onclick="edit_link(this.parentElement);" class="edit"><img src="/static/images/edit.png"></a><h1><a class="title" href="{{ link.link }}">{{ link.title }}</a></h1>
                <h2><a class="url" href="{{ link.link }}">{{ link.link }}</a></h2>
                <h3>{{ ', '.join(link.tags) }}</h3>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="notification"></div>

</body>
</html>
